@using Jandag.BLL.Models.ViewModels
@model IEnumerable<TranscoderViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="message-box">
    @if (TempData["Error"] != null)
    {
        <div class="error-message">
            <script>
                alert('@TempData["Error"]');
            </script>
        </div>
    }
    @if (TempData["success"] != null)
    {
        <div class="success-message">
            <script>
                alert('@TempData["success"]');
            </script>
        </div>
    }
</div>
<h2 class="text-center">ტრანსკოდერის ინფორმაცია</h2>
<title>ტრანსკოდერი</title>
<head>
    <style>
        body {
            background-color: #B2B377;
            color: #8B4513; 
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
        }

        h1, h2, h3 {
            color: #8B4513;
        }

        a {
            color: #FF4500;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        .container {
            max-width: 1500px;
            margin: 0 auto;
            background-color: #FFF8DC;
            padding: 20px;
            border-radius: 50px;
        }

        .button {
            background-color: #FF6347;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .button:hover {
                background-color: #CD5C5C;
            }

        .footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px 0;
            background-color: #FFE4E1;
        }

    </style>
</head>
<body>
    <form asp-action="Add" asp-controller="Transcoder" method="get">
        <button type="submit" class="btn btn-primary">დამატება</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>არხის სახელი</th>
                <th>ფორმატი</th>
                <th>EMR</th>
                <th>სიჩქარე</th>
                <th>ქარდი</th>
                <th>პორტი</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var frequency in Model)
            {
                <tr>
                    <td>@frequency.Id</td>
                    <td>@frequency.TranscodingFormat</td>
                    <td>@frequency.EmrNumber</td>
                    <td>@frequency.Card</td>
                    <td>@frequency.Port</td>
                    <td class="containera">
                        <form method="get" asp-action="Delete" asp-asp-controller="Transcoder">
                            <input type="hidden" name="id" value=@frequency.Id>
                            <button type="submit" class="btn btn-danger">წაშლა</button>
                        </form>
                        @*  <form method="post" asp-action="Edit" asp-asp-controller="SatteliteChanells">
                    <input type="hidden" name="Degree" value="@frequency.Degree" />
                    <input type="hidden" name="PortIn250" value="@frequency.PortIn250" />
                    <input type="hidden" name="SymbolRate" value="@frequency.SymbolRate" />
                    <input type="hidden" name="Frequency" value="@frequency.Frequency" />
                    <input type="hidden" name="Polarization" value="@frequency.Polarization" />
                    <button type="submit" class="btn btn-primary">რედაქტირება</button>
                    </form> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
  
</body>
