@using Jandag.BLL.Models;
@using Jandag.BLL.Services
@using Jandag.Persistance.Services
@model UniteModel
@{
    Layout = null;
}
@if (Model == null)
{
    var defaultModel = new EmrServices();
    var temp = new TemperatureService();
    Model.chyanellnameandalarm.ports = await defaultModel.GetPortsWhereAlarmsIsOn();
    Model.chyanellnameandalarm.namees = await defaultModel.GetChanellNames();
    var res = await temp.GetCUrrentTemperature();
    Model.temperature = res.Item1;
    Model.Humidity = res.Item2;
}

@{
    var rand = DateTime.Now;
}

@if(rand.Hour>=22&&rand.Hour<=10)
{
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://192.168.100.104:3395/NatiaResource/Dark.css">
    </head>
}
else
{
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://192.168.100.104:3395/NatiaResource/site.css">
    </head>
}

<body>

    <script>
        function refreshPage() {
            location.reload(); 
        }
        setInterval(refreshPage, 6000); 
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const currentHour = new Date().getHours();

            if ( (currentHour >= 20 || currentHour < 6)) {
                document.body.classList.add('dark-mode');
            }

            window.toggleDarkMode = function () {
                const isDarkMode = document.body.classList.toggle('dark-mode');
                localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
            }
        });
    </script>

    @if (DateTime.Now.Month == 12 || DateTime.Now.Month == 1)
            {
        <div class="santa-container" style="z-index:1001">
            <img src="http://192.168.100.104:3395/NatiaResource/SantaIrbine.gif" alt="Santa" class="santa" height="130" width="200" />
    </div>
            }
    <div class="container">

        @try
        {
            @if (double.Parse(Model.temperature) < 23)
            {
                <button align="center" type="submit" id="buttonTemp" class="text-box-btn">სადგურში მიმდინარე ტემპერატურაა: @Model.temperature °C / ტენიანობა: @Model.Humidity %</button>
            }
            else if (double.Parse(Model.temperature) >= 23 && double.Parse(Model.temperature) < 25)
            {
                <button align="center" type="submit" id="buttonTemp" class="text-box-btn-orange">სადგურში მიმდინარე ტემპერატურაა: @Model.temperature °C / ტენიანობა: @Model.Humidity %  შეამოწმე !</button>
            }
            else
            {
                <button align="center" type="submit" id="buttonTemp" class="text-box-btn-red">სადგურში მიმდინარე ტემპერატურაა: @Model.temperature °C / ტენიანობა: @Model.Humidity % სასწრაფოდ გადაამოწმე !   !    !   !    !    !    !   !</button>
            }
        }
        catch (Exception)
        {
            <button align="center" type="submit" id="buttonTemp" class="text-box-btn-red">შეცდომა ტემპერატურის წამოღების დროს, დაუკავშირდი დეველოპმენტის ჯგუფს !  ! !</button>
        }

       
        <div class="button-group" style="z-index:1">
            @{
                int i = 0;
                int j = 0;
            }

            @foreach (var item in Model.chyanellnameandalarm.namees)
            {
                var buttonColorss = "green";
                if (j < Model.chyanellnameandalarm.ports.Count)
                {
                    if (i >= 92)
                    {
                        if (Model.chyanellnameandalarm.ports[j] == i + 2)
                        {

                            buttonColorss = "red";
                            j++;
                        }
                    }
                    else
                    if (Model.chyanellnameandalarm.ports[j] == i + 1)
                    {

                        buttonColorss = "red";
                        j++;

                    }

                }
                if (item.Value.Equals("Test"))
                {
                    buttonColorss = "yellow";
                }
                <form method="post" asp-controller="ChanellAlarm" asp-action="HandleButtonClick" asp-route-buttonId="@item.Value">
                    <button type="submit" id="button@(item.Key)" class="btn btn-primary button @(buttonColorss)">@item.Key. @item.Value  </button>
                </form>
                i++;
            }
            <div style="z-index:900;position:absolute; margin-left:5%;margin-top:25%">

                <script src="http://globaltv.ge:3395/NatiaResource/Robot.js"></script>
                @Html.Partial("_Robot")

            </div>

            @if (DateTime.Now.Month == 12 || DateTime.Now.Month == 1)
            {
                <img src="http://192.168.100.104:3395/NatiaResource/SantaGif.gif" height="80" width="130" />
                <img src="http://192.168.100.104:3395/NatiaResource/SantaGif2.gif" height="80" width="200" />
                <img src="http://192.168.100.104:3395/NatiaResource/SantaGif.gif" height="80" width="130" />
                <img src="http://192.168.100.104:3395/NatiaResource/SantaGif2.gif" height="80" width="200" />
                <img src="http://192.168.100.104:3395/NatiaResource/SantaGif.gif" height="80" width="130" />
                <img src="http://192.168.100.104:3395/NatiaResource/SantaGif2.gif" height="80" width="200" />
            }
        </div>


        @{
            string cvlad = "green";
        }
        <div class="containera">

     

            @foreach (var monitoring in Model.satelliteview)
            {
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@monitoring.Degree </h4>
                        <div class="btn-group" role="group" aria-label="Frequency Buttons">
                            @foreach (var detail in monitoring.details)
                            {
                                if (detail.HaveError)
                                {
                                    cvlad = "red";
                                }
                                else
                                {
                                    cvlad = "green";
                                }
                                var buttonId = $"{detail.Frequency}_{detail.Polarisation}_{detail.SymbolRate}";
                                <form method="get" asp-action="#" asp-asp-controller="#" class="Gaakete">
                                    <input type="hidden" class="PortIn"name="frequency" value="@detail.PortIn250" />
                                    <button type="submit" id="@buttonId" class="btn btn-primary button @cvlad buttonIko">
                                        @($@"{detail.Frequency} {detail.Polarisation} {detail.SymbolRate} ")
                                        <span style="color: black; font-size: 20px;font-weight:bolder;margin-left:3px;">@(detail.mer)</span>
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>